.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.gold-button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 10px;
}
  
  